{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
  <h1 data-module="example">{{ message }}</h1>
  <textarea cols="80" id="editor1" name="editor1" rows="10" ></textarea>
{% endblock %}

{% block javascript %}
  {{ super() }}

  <script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
  <script type="text/javascript">
  	CKEDITOR.config.extraPlugins="showblocks"
  	CKEDITOR.replace('editor1')
  </script>
{% endblock %}
